body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    overflow: hidden;
}

.content {
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#image-slider {
    position: relative;
    width: 80%;
    max-width: 400px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3); /* Colore di sfondo semi-trasparente */
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Adatta l'immagine al contenitore mantenendo le proporzioni */
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 20px;
}

.slider-image.active {
    opacity: 1;
}

.special-message {
    margin-top: 20px;
}

/* Stili per il contenitore dei messaggi affettuosi */
#love-messages {
    font-size: 13px;
    color: #000;
    font-weight: bold;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    max-width: 90%;
    text-align: center;
}

#love-messages:hover {
    color: #ff7e5f;
}

@keyframes loveMessagesAnimation {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Cuori cadenti */
.heart {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: red;
    transform: rotate(-45deg);
    animation: fall linear infinite;
    z-index: 0;
}

.heart::before,
.heart::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

.heart::before {
    top: -10px;
    left: 0;
}

.heart::after {
    top: 0;
    left: -10px;
}

@keyframes fall {
    0% {
        transform: translateY(-100px) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

@media (max-width: 600px) {
    .content {
        padding: 10px;
    }

    #image-slider {
        width: 90%;
        max-width: none;
        height: 350px; /* Altezza aumentata per i dispositivi mobili */
        background-color: rgba(255, 255, 255, 0.1); /* Colore di sfondo ancora più trasparente */
        
    }

    .slider-image {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    #love-messages {
        font-size: 12px;
        bottom: 5px;
        padding: 8px;
        width: 80%; /* Aumenta la larghezza sui dispositivi mobili */
    }

    .special-message {
        font-size: 12px;
        margin-top: 15px;
    }
}
